/header{
    height: 50px;

}

h1{
    font-size: 3em;
    text-align: center;
}

main{
    margin: auto;
    width: 1100px;
}
/*

img, div[class], div[id]{
    height: 225px;
    width: 150px;

}

img{
    position: absolute;


}
.gne:active{
    transform: scaleX(-1);

}
.back{
    z-index: 1;
    /* animation: return 1s linear;
    transition: all .4s linear;
    visibility: visible;
}
 @keyframes return {
    from { scaleX:(0); opacity: 1}
    50%    {    scaleX:(-1) opacity: 0  }
    to {    scaleX:(-1)   opacity: 0 }
}


/* .back:active {
    transform: scaleX(-1);
    opacity:0;
} */

/*
.active{
    visibility: hidden;
}

div[class]{
    display: inline;
}

div[id]{
    position: relative;
    display: inline-block;
    margin: 5px;
}
*/
